body{
  background-color: gray;
}
header{
  position: sticky;
  top: 0px;
}
body{
  background-color: grey;
}


nav {
    display: flex;
    flex-direction: row;
}
 nav ul{
  display: flex;
  flex-direction: row;
  float: left;
  width: 100%;
 }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

   nav li a{
        display: inline;
        color: white;
        float: right;
        text-align: center;
        padding: 20px 85px;
        text-decoration: none;
      }
     nav li a:hover {
        background-color: forestgreen;
      }

      
      a{
        color: white;
      }
      body {
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        font-size: .85em;
        background-color: #e1e9f0;
        color: #666666;
      }
      
      h1 {
        color: #555555;
        text-shadow: 3px 3px 5px #a0a8aF;
      }
      
      .container {
        width: 412px;
        margin: 50px auto;
      }
      
      .description {
        margin-top: 20px;
        text-align: center;
      }
      
      .tetrisCanvas {
        box-shadow: 3px 3px 5px #a0a8aF;
        outline: none;
      }
      